# Dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment files
.env
.env.*
Backend/.env
Frontend/.env

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db